.slots {
  height: 100%;
  width: 10%;
  display: flex;
  flex-direction: column;
}

.slot {
  display: flex;
  justify-content: center;
  color: darkblue;
  border-bottom: 1px solid darkblue;
  border-right: 1px solid darkblue;
}

@media (max-width: 30em) and (orientation: portrait) {
  .slots {
    font-size: 0.5em;
  }
}
