.calendar {
  position: relative;
  height: 100%;
  width: 90%;
}

.slot-lines {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.slot-line {
  border-bottom: 1px solid darkblue;
}
